<header id="page-top container">
    <div class="header-content">
        <div class="header-content-inner container">
            <h1>Trânsito Seguro: Reponsabilidade de todos!</h1>
            <hr>
            <p>Credenciada desde 1991, a Clínica Aptidão trabalha junto ao DETRAN-DF para a obtenção ou renovação da sua Carteira Nacional de Habilitação (CNH).</p>
            <div class="row">
              <h4 class="phones mobilephones col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> <a href="tel:6132263468">(61) 3226-3468</a></h4>
            </div>
            <div class="row">
              <h4 class="phones mobilephones col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"> <a href="tel:6132263468">(61) 3225-3321</a></h4>
            </div>
        </div>
    </div>
    <div class="little-container">

      <div class="mini-service-box col-lg-2 ">
          <%= link_to "#modal-primeira-habilitacao", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("primeira-habilitacao.png", :alt => "primeira habilitação", :class => "service-image-sm") %>
          <h5 >1ª Habilitação</h5>
          <% end %>
      </div>
        
      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-renovacao", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("renovacao.png", :alt => "renovação de habilitação", :class => "service-image-sm") %>
          <h5 >Renovar Habilitação</h5>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-mudanca", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("mudanca.png", :alt => "mudança de categoria", :class => "service-image-sm") %>
          <h5 >Mudar Categoria</h5>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-adicao", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("adicionar.png", :alt => "adicionar categoria", :class => "service-image-sm") %>
          <h5 >Adicionar Categoria</h5>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-remunerada", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("coin.png", :alt => "atividade remunerada", :class => "service-image-sm") %>
          <h5 >Atividade Remunerada</h5>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-instrutor", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("credenciamento.png", :alt => "instrutor diretor de auto-escola e examinador", :class => "service-image-sm") %>
          <h5 >Profissionais de Trânsito</h5>
        <% end %>
      </div>
    </div>
</header>
