<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner container">
            <h1>Trânsito Seguro: Reponsabilidade de todos!</h1>
            <hr>
            <p>Credenciada desde 1991, a Clínica Aptidão trabalha junto ao DETRAN-DF para a obtenção ou renovação da sua Carteira Nacional de Habilitação (CNH).</p>
            <div class="test">
              <h4 class="phones mobilephones"> <a href="tel:6132263468">(61) 3226-3468</a></h4>
            </div>

            <div class="test">
              <h4 class="phones mobilephones"> <a href="tel:6132263468">(61) 3225-3321</a></h4>
            </div>
        </div>
    </div>
    <div class="little-container">

      <div class="mini-service-box col-lg-2 ">
          <%= link_to "#modal-primeira-habilitacao", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("primeira-habilitacao.png", :alt => "primeira habilitação", :class => "service-image-sm") %>
          <h4>Primeira Habilitação</h4>
          <% end %>
      </div>
        
      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-renovacao", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("renovacao.png", :alt => "renovação de habilitação", :class => "service-image-sm") %>
          <h4>Renovar Habilitação</h4>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-mudanca", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("mudanca.png", :alt => "mudança de categoria", :class => "service-image-sm") %>
          <h4>Mudar categoria</h4>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-adicao", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("adicionar.png", :alt => "adicionar categoria", :class => "service-image-sm") %>
          <h4>Adicionar categoria</h4>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-remunerada", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("coin.png", :alt => "atividade remunerada", :class => "service-image-sm") %>
          <h4>Atividade Remunerada</h4>
        <% end %>
      </div>

      <div class="mini-service-box col-lg-2">
          <%= link_to "#modal-instrutor", class: "service-button", "data-toggle" => "modal" do %>
          <%= image_tag("credenciamento.png", :alt => "instrutor diretor de auto-escola e examinador", :class => "service-image-sm") %>
          <h4>Profissionais de trânsito</h4>
        <% end %>
      </div>
    </div>
</header>
