<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SERVIÇOS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- quadro 1ª habilitacao -->
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <%= link_to "#modal-primeira-habilitacao", class: "service-button", "data-toggle" => "modal" do %>
                    <div class="service-box">
                        <%= image_tag("primeira-habilitacao.png", :alt => "primeira habilitacao", :class => "service-image") %>
                        <h3>1ª Habilitação</h3>
                        <p class="text-muted">Quer tirar sua carteira? </p>
                        <p class="text-muted">Consulte aqui o passo a passo.</p>
                    </div>
                <% end %>
            </div>

            <!-- quadro renovacao cnh -->
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
              <%= link_to "#modal-renovacao", class: "service-button", "data-toggle" => "modal" do %>
                  <div class="service-box">
                      <%= image_tag("renovacao.png", :alt => "renovacao habilitacao", :class => "service-image") %>
                      <h3>Renovação da CNH</h3>
                      <p class="text-muted">Simples e Rápido. </p>
                      <p class="text-muted">Saiba mais!</p>
                  </div>
              <% end %>
            </div>

            <!-- quadro mudanca de categoria -->
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
              <%= link_to "#modal-mudanca", class: "service-button", "data-toggle" => "modal" do %>
                  <div class="service-box">
                      <%= image_tag("mudanca.png", :alt => "mudança de categoria", :class => "service-image") %>
                      <h3>Mudança de categoria</h3>
                      <p class="text-muted">Sua categoria está nas exigências do Código de Trânsito?</p>
                      <p class="text-muted">Verifique aqui!</p>
                  </div>
              <% end %>
            </div>

            <!-- quadro adicao de categoria -->
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
              <%= link_to "#modal-adicao", class: "service-button", "data-toggle" => "modal" do %>
                  <div class="service-box">
                      <%= image_tag("adicionar.png", :alt => "adicionar habilitacao", :class => "service-image") %>
                      <h3>Adição de categoria</h3>
                      <p class="text-muted">Já é habilitado e quer adicionar outra categoria? </p>
                      <p class="text-muted">Clique aqui!</p>
                  </div>
              <% end %>
            </div>


            <!-- quadro atividade remunerada -->
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
              <%= link_to "#modal-remunerada", class: "service-button", "data-toggle" => "modal" do %>
                  <div class="service-box">
                      <%= image_tag("coin.png", :alt => "instrutor diretor de auto-escola e examinador", :class => "service-image") %>
                      <h3>Inclusão de Atividade Remunerada</h3>
                      <p class="text-muted">Precisa trabalhar com mobilidade?</p>
                      <p class="text-muted">Saiba como!</p>
                  </div>
              <% end %>
            </div>

            <!-- quadro instrutor -->
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
              <%= link_to "#modal-instrutor", class: "service-button", "data-toggle" => "modal" do %>
                  <div class="service-box">
                      <%= image_tag("credenciamento.png", :alt => "instrutor diretor de auto-escola e examinador", :class => "service-image") %>
                      <h3>Instrutor, Diretor de auto-escola e Examinador</h3>
                      <p class="text-muted">Seja um profissional da área de trânsito. </p>
                      <p class="text-muted">Saiba como!</p>
                  </div>
              <% end %>
            </div>


        </div>
    </div>
</section>
