<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SERVIÇOS</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- "botao" e modal 1ª habilitacao -->
            <div class="col-lg-4 col-md-6 text-center">
                <button type="button" class="service-button" data-toggle="modal" data-target="#modal-primeira-habilitacao">
                    <div class="service-box">
                        <%= image_tag("primeira-habilitacao.jpg", :alt => "primeira habilitacao", :class => "service-image") %>
                        <h3>1ª Habilitação</h3>
                        <p class="text-muted">Todas as informações para quem deseja obter a 1ª habilitação.</p>
                    </div>
                </button>
                <div id="modal-primeira-habilitacao" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">1ª HABILITAÇÃO</h3>
                            </div>
                            <div class="modal-body">
                                <p>Com a entrada em vigor do novo Código de Transito Brasileiro, o caminho para obter sua habilitação mudou.</p>
                                <p>Sua primeira habilitação só poderá ser solicitada nas categorias "A" - Motocicleta, "B" - Automóvel de passeio ou "AB" - Carro e Moto.</p>
                                <p>Para se candidatar à obtenção da CNH o candidato deverá:</p>
                                <p><span class="glyphicon glyphicon-chevron-right"></span>ser maior de 18 anos;</p>
                                <p><span class="glyphicon glyphicon-chevron-right"></span>ser penalmente imputável;</p>
                                <p><span class="glyphicon glyphicon-chevron-right"></span>saber ler e escrever;</p>
                                <p><span class="glyphicon glyphicon-chevron-right"></span>possuir carteira de identidade ou equivalente;</p>
                                <p><span class="glyphicon glyphicon-chevron-right"></span>possuir CPF.</p>
                                <br>
                                <p>Após a verificação desses requisitos siga os passos abaixo.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- end Modal content-->
                    </div>
                </div>
            </div>

            <!-- "botao" e modal renovacao cnh -->
            <div class="col-lg-4 col-md-6 text-center">
                <button type="button" class="service-button" data-toggle="modal" data-target="#modal-renovacao">
                    <div class="service-box">
                        <%= image_tag("renovacao.jpg", :alt => "renovacao habilitacao", :class => "service-image") %>
                        <h3>Renovação da CNH</h3>
                        <p class="text-muted">Informação sobre os procedimentos para quem deseja renovar a habilitação.</p>
                    </div>
                </button>
                <div id="modal-renovacao" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">RENOVAÇÃO DA CNH</h3>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- end Modal content-->
                    </div>
                </div>

            </div>

            <!-- "botao" e modal mudanca de categoria -->
            <div class="col-lg-4 col-md-6 text-center">
                <button type="button" class="service-button" data-toggle="modal" data-target="#modal-mudanca">
                    <div class="service-box">
                            <%= image_tag("mudanca.jpg", :alt => "mudança de categoria", :class => "service-image") %>
                        <h3>Mudança de categoria</h3>
                        <p class="text-muted">Informações sobre o procedimentot de mudança de categoria.</p>
                    </div>
                </button>
                <div id="modal-mudanca" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">MUDANÇA DE CATEGORIA</h3>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- end Modal content-->
                    </div>
                </div>

            </div>

            <!-- "botao" e modal adicao de categoria -->
            <div class="col-lg-4 col-lg-offset-2 col-md-6 text-center">
                <button type="button" class="service-button" data-toggle="modal" data-target="#modal-adicao">
                    <div class="service-box">
                        <%= image_tag("adicionar.png", :alt => "adicionar habilitacao", :class => "add-image") %>
                        <h3>Adição de categoria</h3>
                        <p class="text-muted">Procedimento para quem deseja adicionar uma nova categoria à sua habilitação.</p>
                    </div>    
                </button>
                <div id="modal-adicao" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">ADIÇÃO DE CATEGORIA</h3>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- end Modal content-->
                    </div>
                </div>

            </div>

            <!-- "botao" e modal instrutor -->
            <div class="col-lg-4 col-md-12 text-center">
                <button type="button" class="service-button" data-toggle="modal" data-target="#modal-instrutor">
                    <div class="service-box">
                        <%= image_tag("credenciamento.jpg", :alt => "instrutor diretor de auto-escola e examinador", :class => "service-image") %>
                        <h3>Instrutor, Diretor de auto-escola e Examinador</h3>
                        <p class="text-muted">Informações para quem deseja se tornar um profissional do ramo de obtenção de habilitação.</p>
                    </div>        
                </button>
                <div id="modal-instrutor" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">INSTRUTOR, DIRETOR DE AUTO-ESCOLA E EXAMINADOR</h3>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- end Modal content-->
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>

